<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>582689498848-vt4ql1gfu2t0730gl98bvkeacd1uivbb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.582689498848-vt4ql1gfu2t0730gl98bvkeacd1uivbb</string>
	<key>API_KEY</key>
	<string>AIzaSyDGTRWd9IBHOJCvhuGGp3uu22ts5vbaa9I</string>
	<key>GCM_SENDER_ID</key>
	<string>582689498848</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.Freight25</string>
	<key>PROJECT_ID</key>
	<string>freight25-79b3b</string>
	<key>STORAGE_BUCKET</key>
	<string>freight25-79b3b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:582689498848:ios:f3e9820652a98c0d839285</string>
	<key>DATABASE_URL</key>
	<string>https://freight25-79b3b.firebaseio.com</string>
</dict>
</plist>